// @import './variables';
@media  screen and (max-width: 930px) {
    #navigation {
        ul {
            li {
               
                span {
                    color: $primary;
                    font-size: 2em;
                }
                a {
                    margin: auto 12px;
                    display: none;

                }
                &:hover {
                    background-color: $primary;
                    font-size: .7em;
                    text-align: center;
                    transform: scale(1.2);
                    transition: all .1s ease-in-out;
                    span { display: none;  }
                    a { display: block;  }
                }
                
            }
        }
    }
    #header { 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        img {
            width: 40vw;
            margin-top: 2rem;
        }
        #describe {
            margin-top: 1rem;
    
            h1{
                color: $accent;
                letter-spacing: 1px;
                font-family: Ultra;
            }
            p {
                color: $primary;
                font-family: "EB Garamond";
                letter-spacing: .5px;
                line-height: 1.5;
                font-weight: 600;
                font-size: 19px;
                padding: 1em;
            }
        }
    }
}