// Dans ce fichier, nous avons l'ensemble des fonctions agissant sur les animations
@keyframes animateBefore {
    0% {
        transform: translateX(1px) rotateZ(15deg);
    }
    25% {
        transform: translateX(2px) rotateZ(90deg);
    }
    50% {
        transform: translateX(4px) rotateZ(35deg);
    }
    75% {
        transform: translateX(5px) rotateZ(45deg);
    }
    100% {
        transform: translateX(5px) rotateZ(45deg);
    }
}

@keyframes animateAfter {
    0% {
        transform: translateX(1px) rotateZ(-15deg);
    }
    25% {
        transform: translateX(2px) rotateZ(-25deg);
    }
    50% {
        transform: translateX(4px) rotateZ(-35deg);
    }
    75% {
        transform: translateX(5px) rotateZ(-35deg);
    }
    100% {
        transform: translateX(5px) rotateZ(-45deg);
    }
}

@keyframes ActionAnimate {
    0% {
        right: 100%;
        content: '5';
        background-color: white;

    }
    25% {
        right: 75%;
        content: '4';
        background-color: white;

    }
    50% {
        right: 50%;
        content: '3';
        background-color: white;

        
    }
    75% {
        right: 25%;
        content: '2';
        background-color: white;

    }
    100% {
        right: 0;
        content: '1';
        background-color: white;

    }
}