body {
    background-color: $secondary;
}
// Ici c'est le navbar
#navigation {
    z-index: 20;
    display: grid;
    grid-template-columns: 20vw 1fr;
    padding-left: 2vh;
    padding-right: 2vh;
    height: 15%;
    background-color: $accent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 85%;
    #logo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 1px;
        text-decoration: none;
        span {
            // Gaynako
            color: $primary;
            font-weight: 900;
            font-size: large;
            // transform: translateX(-10px);
            code {
                // digital
                color: tomato;
                font-size: larger;
                font-stretch: narrower;
            }
        }
        img {
            // L'image du logo
            max-width: 10rem;
            border-radius: 30vw;
        }
    }
    ul {
        // Menu de la navigation
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: .1rem;
        li {
            // Chaque menu de la navigation
            margin-left: 2rem;
            list-style-type: none;
            display: flex;
            span {
                // Icon du menu
                color: $primary;
                font-size: 1em;
                margin-top: 2px;
            }
            a {
                // Titre du menu
                font-family: Lato;
                font-weight: 1000;
                text-decoration: none;
                margin: auto 8px;
                color: $primary;
                font-size: 1.1em;
            }
            &:hover {
                // Hover de chaque menu représenté par un li
                background-color: $primary;
                padding: .5rem;
                border-radius: 2rem;
                text-align: center;
                span {color: $accent;}
                a {color: $accent;}
            }
            
        }
    }
    #burger {
        display: none;
    }
}
// STYLE DU HEADER
#header {
    margin-top: 5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    img {
        width: 45vw;
        margin-top: 2em;
    }
    #describe {
        margin-top: 7rem;

        h1{
            color: tomato;
            letter-spacing: 1px;
            font-family: Ultra;
        }
        p {
            color: $primary;
            font-family: "EB Garamond";
            letter-spacing: .5px;
            line-height: 1.5;
            font-weight: 600;
            font-size: 19px;
            padding: 1em;
        }
    }
}
// STYLE COMMUN POUR TOUTES LES SECTIONS
section {
    padding-top: 88px;
    overflow: hidden;
    font-family: Ultra;
    display: grid;
    align-items: center;
    grid-template-areas: "title img"
                          "text img";
    
    // TITRE DE LA SECTION
    h1 {
        color: tomato;
        text-align: center;
        font-size: 2.5rem;
        grid-area: title;
    }
    img {
        grid-area: img;
        width: 65vw;
        margin-top: 145px;
    }
    // PARAGRAPHE DE LA SECTION
    p {
        grid-area: text;
        font-family: "EB Garamond";
        color: $primary;
        font-size: 1.1rem;
        line-height: 1.5;
        text-align: center;
        border-radius: 15%;
        padding: 1em;
        word-spacing: 4px;
        transform: translateX(100px);
    }
}