body {
    background-color: $secondary;
}
// Ici c'est le navbar
#navigation {
    z-index: 20;
    display: grid;
    grid-template-columns: 20vw 1fr;
    background-color: $accent;
    box-shadow: rgba(255, 255, 255, 0.15) 2.4px 2.4px 3.2px;
    position: sticky;
    top: 0;
    left: 0;
    #logo {
        display:grid;
        align-items: center;       
        text-decoration: none;
        text-transform: capitalize;
        justify-items: center;
        span {
            // Gaynako
            color: $primary;
            font-weight: 900;
            font-size: large;
            // transform: translateX(-10px);
            code {
                // digital
                color: tomato;
                font-size: larger;
                font-stretch: narrower;
            }
        }
        img {
            // L'image du logo
            max-width: 10rem;
            border-radius: 30vw;
        }
    }
    ul {
        // Menu de la navigation
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: initial;
        li {
            // Chaque menu de la navigation
            margin : auto .1rem;
            list-style-type: none;
            display: flex;
            padding: 1rem;
            color: #fff; 
  transition: all 1s ease-out;
            span {
                // Icon du menu
                color: $primary;
                font-size: 1em;
                margin-top: 2px;
            }
            a {
                // Titre du menu
                font-family: Lato;
                font-weight: 1000;
                text-decoration: none;
                margin: auto 8px;
                color: $primary;
                font-size: 1.1em;
                
            }
            &:hover, &:focus {
                // Hover de chaque menu représenté par un li
                // background-color: $primary;    
                text-align: center;
                  span {color: $accent;}
                  a {color: $accent;}
                  margin : auto .1rem;
                background-color: #fff;
            }
            
        }
    }
    #burger {
        display: none;
    }
}
// STYLE DU HEADER
#header { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color:cadetblue;
    height: 100vh;
    max-height: 800px;
    justify-items: center;
    align-items: center;
    img {
        width: 45vw; 
    }
    #describe {
      
        h1{
            color: tomato;
            letter-spacing: 1px;
            font-family: Ultra;
        }
        p {
            color: $primary;
            font-family: "EB Garamond";
            letter-spacing: .5px;
            line-height: 1.5;
            font-weight: 600;
            font-size: 19px; 
        }
    }
}
// STYLE COMMUN POUR TOUTES LES SECTIONS

main {

margin: 0 auto;
width: 100%;
max-width: 1500px;

section {
    padding-top: 50px;
   div{
       display: grid;
       grid-template-columns:repeat(2, 1fr);
       align-items: center;
   }
    
    // TITRE DE LA SECTION
    h1 {
        text-align: center;
    }
    img {
        width:100%;
    }
    // PARAGRAPHE DE LA SECTION
    p {
        
        font-family: "EB Garamond";
        color: $primary;
        font-size: 1.1rem;
        line-height: 1.5;
        text-align: justify;
        border-radius: 15%;      
        word-spacing: 4px; 
    }
}

}









/* contact form */

form {
    width:90vw;
    max-width:768px;
    border:1px solid #ddd;
    padding:3vw;
    display:flex;
    flex-direction:column;
    border-radius:5px;
    margin: 0 auto;

  
  
  
  label{
    margin-bottom:15px;
    position:relative;
    border-bottom:1px solid #ddd;
  }
  
  input, textarea{
    width:100%;
    padding:10px 0px;
    margin-top:20px;
    border:none;
    outline:none;


    &::placeholder{
opacity: 0;
    }
  }
  
  
  
  
  span{
    position:absolute;
    top:0;
    left:0;
    transform:translateY(30px);
    font-size:0.825em;
    transition-duration:300ms;
  }
  button{
    padding:15px 0px; 
    margin-top:20px;
    background: #3d5564;
    color:#fff;
    border:1px solid #fff;
    cursor:pointer;
    border-radius:3px;
transition:all 1s ease-out;

    &:hover,&:focus{ 
        background: aliceblue;
        color: #3d5564;
    }
  }
  
  label:focus-within > span,
  input:not(:placeholder-shown) + span,
  textarea:not(:placeholder-shown) + span{
    color:rgb(255, 255, 255);
    transform:translateY(0px);
  }
  
  

}













//footer

footer {
    div{
        display: flex;
        height: 100vh;
    background: cadetblue;
    max-height: 100px;
    justify-content: center;
    align-items: flex-end;
    }
}