// @import './variables';
@media  screen and (max-width: 720px) {
    #navigation {
        display: grid;
        grid-template-columns: 1fr 1fr 30px;
 
        align-items: center;
 
         
        ul {
            // transform: translateY(-165px) rotateZ(35deg);
            border-radius: 5%;
            li {
          
                display: none;
                span {
                    color: $primary;
                    font-size: 2em;
                }
                a {
                    margin: auto 12px;
                }
                &:hover {
                    background-color: $primary;
                    font-size: .9em;
                    text-align: center;
                    transform: scale(1.2);
                    transition: all .2s ease-in-out;
                    span { display: none;  }
                    a { display: block;  }
                    &:nth-child(3) {
                        font-size: .75em;
                        transform: scale(1) translateX(0) !important;
                    }
                }
            }
        }
        #burger {
            display: block;
            cursor: pointer;
            position: absolute;
            right: 5%;
            top: 20%;
            .burg {
                width: 19px;
                height: 2.8px;
                background-color: $primary;
                margin-top: 4px; 
            }
        }
    }

    .menuHover {
        display: grid !important;
        grid-template-rows: repeat(5,1fr) !important;
        gap: 15px;
        padding: 1em !important;
        position: fixed;
        top: 10%;
        border-radius: .1em;
        right: -6%;
        left: 0;
        z-index: -15;
        background-color: $accent;
        transition: all .30s cubic-bezier(0.6, -0.28, 0.735, 0.045);
        li {
            display: inline-block !important;
            padding: .5em;
            border: -5px;
            span {
                display: inline !important;
                font-size: 1.4em !important;
            }
            a {
                font-size: 1.2rem !important;
                display: inline !important;
            }
            &:hover {
                font-size: 1em;
                text-align: center;
                transform: scale(1) translateX(-5px) !important;
                transition: all .3s ease-in-out;
                span { display: none;  }
                a { display: block;  }
            }
        }
    }
    .burgHover {
        padding: 5px;
        .burg {
            background-color: transparent !important;
        }
        .dos {
            &::before {
                content: '';
                width: 19px;
                height: 2.8px;
                position: absolute;
                background-color: tomato;
                transform: translateX(5px) rotateZ(45deg);
                transform-origin: center;
                animation: animateBefore .8s ease-in-out .2 alternate ;
                z-index: 2;
            }
            &::after {
                content: '';
                width: 19px;
                height: 2.8px;
                position: absolute;
                background-color: tomato;
                transform: translateX(5px) rotateZ(-45deg);
                transform-origin: center;
                animation: animateAfter .8s ease-in-out .2 alternate ;
                z-index: 2;
            }
        }
    }


    main {

        section{
            fieldset{
                margin:0;
            }
        } 

        div.illustration{
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        img{
            width:100%;
        }
        }
    }



}





