@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Sansita+Swashed:wght@300&display=swap");
body {
  background-color: #f2eee3;
}

#navigation {
  z-index: 20;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20vw 1fr;
      grid-template-columns: 20vw 1fr;
  background-color: #069a8e;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
}

#navigation #logo {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  text-transform: capitalize;
  justify-items: center;
}

#navigation #logo span {
  color: #f2eee3;
  font-weight: 900;
  font-size: large;
}

#navigation #logo span code {
  color: #f2eee3;
  font-size: larger;
  font-stretch: narrower;
}

#navigation #logo img {
  max-width: 10rem;
  border-radius: 30vw;
}

#navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#navigation ul li {
  margin: auto 0.1rem;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  color: #fff;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#navigation ul li span {
  color: #f2eee3;
  font-size: 1em;
  margin-top: 2px;
}

#navigation ul li a {
  font-family: Lato;
  font-weight: 1000;
  text-decoration: none;
  margin: auto 8px;
  color: #f2eee3;
  font-size: 1em;
}

#navigation ul li:hover, #navigation ul li:focus {
  text-align: center;
  margin: auto 0.1rem;
  background-color: #f2eee3;
  border-radius: 25px;
}

#navigation ul li:hover span, #navigation ul li:focus span {
  color: #069a8e;
}

#navigation ul li:hover a, #navigation ul li:focus a {
  color: #069a8e;
}

#navigation #burger {
  display: none;
}

#header {
  position: relative;
  display: -ms-grid;
  display: grid;
  z-index: 1;
      grid-template-areas: "text image";
  height: 100vh;
  max-height: 800px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2eee3;
}

#header img {
  width: 35vw;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: image;
}

#header #describe {
  padding-left: 5rem;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: text;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

#header #describe h1 {
  color: #069a8e;
  text-shadow: #f2eee3;
  margin: auto;
  font-weight: 800;
  font-family: Ultra;
  width: 320px;
  text-align: center;
}

#header #describe .btnParent, #header #describe .action-btn, #header #describe .action-btn:hover::after {
  height: 3rem;
  padding-left: 0.5em;
  padding-right: 0.5em;
  cursor: pointer;
  z-index: 1;
  border-radius: 5rem;
  text-align: center;
}

#header #describe .action-btn {
  position: relative;
  background-color: #069a8e;
  color: #f2eee3;
  margin: 5px auto;
  font-size: 1.5em;
}

#header #describe .action-btn:hover::after {
  position: absolute;
  content: "C'est partie !";
  font-size: 1.3em;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  height: 40px;
  background-color: #3baea0;
  color: #3baea0;
  -webkit-animation: ActionAnimate 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
          animation: ActionAnimate 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

#header::after {
  content: '';
  position: absolute;
  left: 35%;
  right: 0;
  top: -1%;
  bottom: 0;
  background-color: #069a8e;
  z-index: -5;
  -webkit-clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 14% 49%);
          clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 14% 49%);
}

main {
  margin: 0 auto;
  background-color: #069a8e;
}

main section {
  padding-top: 2rem;
  padding: 50px;
  /* contact form */
}

main section fieldset {
  border: none;
  border-top: 2px solid #3baea0;
  border-top-style: groove;
  border-top-width: .7em;
}

main section fieldset legend {
  background-color: #3baea0;
  padding: 0em 15em;
  border-radius: 3em 1em;
  margin-bottom: 3rem;
}

main section fieldset legend h1 {
  color: #f2eee3;
}

main section fieldset .services {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

main section fieldset .services .card {
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  height: 50vh;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

main section fieldset .services .card h2 {
  position: absolute;
  background-color: #3baea0;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0;
  text-align: center;
  color: #f2eee3;
  bottom: 0;
  left: 0;
  right: 0;
}

main section fieldset .services .card img {
  width: 100%;
  height: 40vh;
  min-height: 5rem;
  background-color: #f2eee3;
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
}

main section fieldset .services .card P {
  display: none;
}

main section fieldset .services .card:hover {
  background-color: #f2eee3;
}

main section fieldset .services .card:hover img {
  background-color: #3baea0;
  width: 100%;
  height: 10vh;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  -webkit-transform: scale(1.5) rotateZ(3deg) rotateY(30deg);
          transform: scale(1.5) rotateZ(3deg) rotateY(30deg);
  -webkit-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

main section fieldset .services .card:hover p {
  display: block;
  color: #069a8e;
  background-color: #f2eee3;
  font-size: 1.15em;
  padding: 0 1em;
}

main section fieldset .services .card:hover h2 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  padding: 0.35em 0;
  background-color: #3baea0;
  -webkit-transform: scale(1.1) rotateZ(-2deg);
          transform: scale(1.1) rotateZ(-2deg);
  -webkit-transition: all 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

main section div.illustration {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section div.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
}

main section img.acteur {
  width: 100%;
  border-radius: 25%;
}

main section img.dooro {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

main section img.fofana {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

main section p {
  font-family: "EB Garamond";
  color: #f2eee3;
  font-size: 1.1rem;
  line-height: 1.5;
  text-align: justify;
  border-radius: 15%;
  word-spacing: 4px;
}

main section form {
  width: 50%;
  max-width: 768px;
  padding: 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  margin: 0 auto;
}

main section label {
  margin-bottom: 15px;
  position: relative;
}

main section input, main section textarea {
  width: 100%;
  padding: 10px 0px;
  margin-top: 20px;
  border: none;
  outline: none;
  border-radius: 7px;
}

main section input::-webkit-input-placeholder, main section textarea::-webkit-input-placeholder {
  opacity: 0;
}

main section input:-ms-input-placeholder, main section textarea:-ms-input-placeholder {
  opacity: 0;
}

main section input::-ms-input-placeholder, main section textarea::-ms-input-placeholder {
  opacity: 0;
}

main section input::placeholder, main section textarea::placeholder {
  opacity: 0;
}

main section span {
  position: absolute;
  top: 0;
  left: 5px;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  font-size: 0.825em;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

main section button {
  padding: 15px 0px;
  margin-top: 20px;
  background: #3baea0;
  color: #fff;
  border: 1px solid #3baea0;
  cursor: pointer;
  border-radius: 3px;
}

main section button:hover, main section button:focus {
  background: #fff;
  color: #3baea0;
}

main section label:focus-within > span,
main section input:not(:placeholder-shown) + span,
main section textarea:not(:placeholder-shown) + span {
  color: #fff;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  background: #3baea0;
  max-height: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 1044px) {
  #navigation ul li span {
    color: #f2eee3;
    font-size: .9em;
  }
  #navigation ul li a {
    margin: auto 12px;
    font-size: .9em;
  }
  #navigation ul li:hover {
    border-radius: 1rem;
    font-size: .8em;
    text-align: center;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media screen and (max-width: 930px) {
  #navigation ul li span {
    color: #f2eee3;
    font-size: 2em;
  }
  #navigation ul li a {
    margin: auto 12px;
    display: none;
  }
  #navigation ul li:hover {
    background-color: #f2eee3;
    font-size: .7em;
    text-align: center;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
  }
  #navigation ul li:hover span {
    display: none;
  }
  #navigation ul li:hover a {
    display: block;
  }
  #header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  #header img {
    width: 40vw;
    margin-top: 2rem;
  }
  #header #describe {
    margin-top: 1rem;
  }
  #header #describe h1 {
    color: tomato;
    letter-spacing: 1px;
    font-family: Ultra;
  }
  #header #describe p {
    color: #f2eee3;
    font-family: "EB Garamond";
    letter-spacing: .5px;
    line-height: 1.5;
    font-weight: 600;
    font-size: 19px;
    padding: 1em;
  }
}

@media screen and (max-width: 720px) {
  #navigation {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 30px;
        grid-template-columns: 1fr 1fr 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #navigation #logo img {
    max-width: 90px;
  }
  #navigation ul {
    border-radius: 5%;
  }
  #navigation ul li {
    display: none;
  }
  #navigation ul li span {
    color: #f2eee3;
    font-size: 2em;
  }
  #navigation ul li a {
    margin: auto 12px;
  }
  #navigation ul li:hover {
    background-color: #f2eee3;
    font-size: .9em;
    text-align: center;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  #navigation ul li:hover span {
    display: none;
  }
  #navigation ul li:hover a {
    display: block;
  }
  #navigation ul li:hover:nth-child(3) {
    font-size: .75em;
    -webkit-transform: scale(1) translateX(0) !important;
            transform: scale(1) translateX(0) !important;
  }
  #navigation #burger {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: 20%;
  }
  #navigation #burger .burg {
    width: 19px;
    height: 2.8px;
    background-color: #f2eee3;
    margin-top: 4px;
  }
  .menuHover {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-rows: (1fr)[5] !important;
        grid-template-rows: repeat(5, 1fr) !important;
    gap: 15px;
    padding: 1em !important;
    position: fixed;
    top: 10%;
    border-radius: .1em;
    right: -6%;
    left: 0;
    z-index: -15;
    background-color: #3baea0;
    -webkit-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  .menuHover li {
    display: inline-block !important;
    padding: .5em;
    border: -5px;
  }
  .menuHover li span {
    display: inline !important;
    font-size: 1.4em !important;
  }
  .menuHover li a {
    font-size: 1.2rem !important;
    display: inline !important;
  }
  .menuHover li:hover {
    font-size: 1em;
    text-align: center;
    -webkit-transform: scale(1) translateX(-5px) !important;
            transform: scale(1) translateX(-5px) !important;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .menuHover li:hover span {
    display: none;
  }
  .menuHover li:hover a {
    display: block;
  }
  .burgHover {
    padding: 5px;
  }
  .burgHover .burg {
    background-color: transparent !important;
  }
  .burgHover .dos::before {
    content: '';
    width: 19px;
    height: 2.8px;
    position: absolute;
    background-color: tomato;
    -webkit-transform: translateX(5px) rotateZ(45deg);
            transform: translateX(5px) rotateZ(45deg);
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-animation: animateBefore .8s ease-in-out .2 alternate;
            animation: animateBefore .8s ease-in-out .2 alternate;
    z-index: 2;
  }
  .burgHover .dos::after {
    content: '';
    width: 19px;
    height: 2.8px;
    position: absolute;
    background-color: tomato;
    -webkit-transform: translateX(5px) rotateZ(-45deg);
            transform: translateX(5px) rotateZ(-45deg);
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-animation: animateAfter .8s ease-in-out .2 alternate;
            animation: animateAfter .8s ease-in-out .2 alternate;
    z-index: 2;
  }
}

@-webkit-keyframes animateBefore {
  0% {
    -webkit-transform: translateX(1px) rotateZ(15deg);
            transform: translateX(1px) rotateZ(15deg);
  }
  25% {
    -webkit-transform: translateX(2px) rotateZ(90deg);
            transform: translateX(2px) rotateZ(90deg);
  }
  50% {
    -webkit-transform: translateX(4px) rotateZ(35deg);
            transform: translateX(4px) rotateZ(35deg);
  }
  75% {
    -webkit-transform: translateX(5px) rotateZ(45deg);
            transform: translateX(5px) rotateZ(45deg);
  }
  100% {
    -webkit-transform: translateX(5px) rotateZ(45deg);
            transform: translateX(5px) rotateZ(45deg);
  }
}

@keyframes animateBefore {
  0% {
    -webkit-transform: translateX(1px) rotateZ(15deg);
            transform: translateX(1px) rotateZ(15deg);
  }
  25% {
    -webkit-transform: translateX(2px) rotateZ(90deg);
            transform: translateX(2px) rotateZ(90deg);
  }
  50% {
    -webkit-transform: translateX(4px) rotateZ(35deg);
            transform: translateX(4px) rotateZ(35deg);
  }
  75% {
    -webkit-transform: translateX(5px) rotateZ(45deg);
            transform: translateX(5px) rotateZ(45deg);
  }
  100% {
    -webkit-transform: translateX(5px) rotateZ(45deg);
            transform: translateX(5px) rotateZ(45deg);
  }
}

@-webkit-keyframes animateAfter {
  0% {
    -webkit-transform: translateX(1px) rotateZ(-15deg);
            transform: translateX(1px) rotateZ(-15deg);
  }
  25% {
    -webkit-transform: translateX(2px) rotateZ(-25deg);
            transform: translateX(2px) rotateZ(-25deg);
  }
  50% {
    -webkit-transform: translateX(4px) rotateZ(-35deg);
            transform: translateX(4px) rotateZ(-35deg);
  }
  75% {
    -webkit-transform: translateX(5px) rotateZ(-35deg);
            transform: translateX(5px) rotateZ(-35deg);
  }
  100% {
    -webkit-transform: translateX(5px) rotateZ(-45deg);
            transform: translateX(5px) rotateZ(-45deg);
  }
}

@keyframes animateAfter {
  0% {
    -webkit-transform: translateX(1px) rotateZ(-15deg);
            transform: translateX(1px) rotateZ(-15deg);
  }
  25% {
    -webkit-transform: translateX(2px) rotateZ(-25deg);
            transform: translateX(2px) rotateZ(-25deg);
  }
  50% {
    -webkit-transform: translateX(4px) rotateZ(-35deg);
            transform: translateX(4px) rotateZ(-35deg);
  }
  75% {
    -webkit-transform: translateX(5px) rotateZ(-35deg);
            transform: translateX(5px) rotateZ(-35deg);
  }
  100% {
    -webkit-transform: translateX(5px) rotateZ(-45deg);
            transform: translateX(5px) rotateZ(-45deg);
  }
}

@-webkit-keyframes ActionAnimate {
  0% {
    right: 100%;
    content: "5";
  }
  25% {
    right: 75%;
    content: "4";
  }
  50% {
    right: 50%;
    content: "3";
    background-color: #3baea0;
  }
  75% {
    right: 25%;
    content: "2";
  }
  100% {
    right: 0;
    content: "1";
  }
}

@keyframes ActionAnimate {
  0% {
    right: 100%;
    content: "5";
  }
  25% {
    right: 75%;
    content: "4";
  }
  50% {
    right: 50%;
    content: "3";
    background-color: #3baea0;
  }
  75% {
    right: 25%;
    content: "2";
  }
  100% {
    right: 0;
    content: "1";
  }
}

@-webkit-keyframes dooroAnimate {
  0% {
    border-radius: 20%;
    opacity: 0.5;
  }
  20% {
    border-radius: 18%;
    opacity: 0.6;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.3;
    -webkit-filter: hue-rotate(90deg);
            filter: hue-rotate(90deg);
    -webkit-transform: rotateY(30deg);
            transform: rotateY(30deg);
  }
  80% {
    border-radius: 10%;
    opacity: 0.4;
  }
  100% {
    border-radius: 15%;
  }
}

@keyframes dooroAnimate {
  0% {
    border-radius: 20%;
    opacity: 0.5;
  }
  20% {
    border-radius: 18%;
    opacity: 0.6;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.3;
    -webkit-filter: hue-rotate(90deg);
            filter: hue-rotate(90deg);
    -webkit-transform: rotateY(30deg);
            transform: rotateY(30deg);
  }
  80% {
    border-radius: 10%;
    opacity: 0.4;
  }
  100% {
    border-radius: 15%;
  }
}

@-webkit-keyframes fofAnimate {
  0% {
    border-radius: 20%;
    opacity: 0.5;
  }
  20% {
    border-radius: 18%;
    opacity: 0.6;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.3;
    -webkit-filter: hue-rotate(-90deg);
            filter: hue-rotate(-90deg);
    -webkit-transform: rotateY(-30deg);
            transform: rotateY(-30deg);
  }
  80% {
    border-radius: 10%;
    opacity: 0.4;
  }
  100% {
    border-radius: 15%;
  }
}

@keyframes fofAnimate {
  0% {
    border-radius: 20%;
    opacity: 0.5;
  }
  20% {
    border-radius: 18%;
    opacity: 0.6;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.3;
    -webkit-filter: hue-rotate(-90deg);
            filter: hue-rotate(-90deg);
    -webkit-transform: rotateY(-30deg);
            transform: rotateY(-30deg);
  }
  80% {
    border-radius: 10%;
    opacity: 0.4;
  }
  100% {
    border-radius: 15%;
  }
}
/*# sourceMappingURL=style.css.map */