@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Sansita+Swashed:wght@300&display=swap");
body {
  background-color: #734444;
}

#navigation {
  z-index: 20;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20vw 1fr;
      grid-template-columns: 20vw 1fr;
  background-color: #734444;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
}

#navigation #logo {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  text-transform: capitalize;
  justify-items: center;
}

#navigation #logo span {
  color: #eeedbe;
  font-weight: 900;
  font-size: large;
}

#navigation #logo span code {
  color: #c37857;
  font-size: larger;
  font-stretch: narrower;
}

#navigation #logo img {
  max-width: 10rem;
  border-radius: 30vw;
}

#navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#navigation ul li {
  margin: auto .1rem;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  color: #fff;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

#navigation ul li span {
  color: #eeedbe;
  font-size: 1em;
  margin-top: 2px;
}

#navigation ul li a {
  font-family: Lato;
  font-weight: 1000;
  text-decoration: none;
  margin: auto 8px;
  color: #eeedbe;
  font-size: 1em;
}

#navigation ul li:hover, #navigation ul li:focus {
  text-align: center;
  margin: auto .1rem;
  background-color: #fff;
  border-radius: 25px;
}

#navigation ul li:hover span, #navigation ul li:focus span {
  color: #734444;
}

#navigation ul li:hover a, #navigation ul li:focus a {
  color: #734444;
}

#navigation #burger {
  display: none;
}

#header {
  position: relative;
  display: -ms-grid;
  display: grid;
  z-index: -1;
      grid-template-areas: "text image";
  background-color: #734444;
  height: 100vh;
  max-height: 800px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header img {
  width: 45vw;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: image;
}

#header #describe {
  padding-left: 5rem;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: text;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header #describe h1 {
  color: #99b27f;
  text-shadow: #eeedbe;
  margin: auto;
  font-weight: 800;
  font-family: Ultra;
  width: 320px;
  text-align: center;
}

#header #describe button {
  color: #c37857;
  position: relative;
  background-color: #eeedbe;
  font-family: 'Orbitron', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 2;
  border-radius: 45px;
  padding: .3em;
  margin: 15px auto;
}

#header .clip {
  z-index: -1;
  position: absolute;
  background: #eeedbe;
  height: 100%;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 15vw), 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 15vw), 0 100%);
}

#header::after {
  content: '';
  position: absolute;
  background: #734444;
  -webkit-transition: all 1s;
  transition: all 1s;
  bottom: -1%;
  left: -4%;
  right: 45%;
  top: -10%;
  z-index: -1;
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 1500px;
}

main section {
  padding-top: 50px;
}

main section div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section h1 {
  text-align: center;
}

main section img {
  width: 100%;
}

main section p {
  font-family: "EB Garamond";
  color: #eeedbe;
  font-size: 1.1rem;
  line-height: 1.5;
  text-align: justify;
  border-radius: 15%;
  word-spacing: 4px;
}

/* contact form */
section {
  height: 100vh;
  max-height: 800px;
}

section form {
  width: 90vw;
  max-width: 768px;
  border: 1px solid #ddd;
  padding: 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  margin: 0 auto;
}

section form label {
  margin-bottom: 15px;
  position: relative;
}

section form input, section form textarea {
  width: 100%;
  padding: 10px 0px;
  margin-top: 20px;
  border: none;
  outline: none;
}

section form input::-webkit-input-placeholder, section form textarea::-webkit-input-placeholder {
  opacity: 0;
}

section form input:-ms-input-placeholder, section form textarea:-ms-input-placeholder {
  opacity: 0;
}

section form input::-ms-input-placeholder, section form textarea::-ms-input-placeholder {
  opacity: 0;
}

section form input::placeholder, section form textarea::placeholder {
  opacity: 0;
}

section form span {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  font-size: 0.825em;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

section form button {
  padding: 15px 0px;
  margin-top: 20px;
  background: #3d5564;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 3px;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

section form button:hover, section form button:focus {
  background: aliceblue;
  color: #3d5564;
}

section form label:focus-within > span,
section form input:not(:placeholder-shown) + span,
section form textarea:not(:placeholder-shown) + span {
  color: white;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  background: cadetblue;
  max-height: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 1044px) {
  #navigation ul li span {
    color: #eeedbe;
    font-size: .9em;
  }
  #navigation ul li a {
    margin: auto 12px;
    font-size: .9em;
  }
  #navigation ul li:hover {
    border-radius: 1rem;
    font-size: .8em;
    text-align: center;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media screen and (max-width: 930px) {
  #navigation ul li span {
    color: #eeedbe;
    font-size: 2em;
  }
  #navigation ul li a {
    margin: auto 12px;
    display: none;
  }
  #navigation ul li:hover {
    background-color: #eeedbe;
    font-size: .7em;
    text-align: center;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
  }
  #navigation ul li:hover span {
    display: none;
  }
  #navigation ul li:hover a {
    display: block;
  }
  #header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  #header img {
    width: 40vw;
    margin-top: 2rem;
  }
  #header #describe {
    margin-top: 1rem;
  }
  #header #describe h1 {
    color: tomato;
    letter-spacing: 1px;
    font-family: Ultra;
  }
  #header #describe p {
    color: #eeedbe;
    font-family: "EB Garamond";
    letter-spacing: .5px;
    line-height: 1.5;
    font-weight: 600;
    font-size: 19px;
    padding: 1em;
  }
}

@media screen and (max-width: 720px) {
  #navigation {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 30px;
        grid-template-columns: 1fr 1fr 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #navigation #logo img {
    max-width: 90px;
  }
  #navigation ul {
    border-radius: 5%;
  }
  #navigation ul li {
    display: none;
  }
  #navigation ul li span {
    color: #eeedbe;
    font-size: 2em;
  }
  #navigation ul li a {
    margin: auto 12px;
  }
  #navigation ul li:hover {
    background-color: #eeedbe;
    font-size: .9em;
    text-align: center;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  #navigation ul li:hover span {
    display: none;
  }
  #navigation ul li:hover a {
    display: block;
  }
  #navigation ul li:hover:nth-child(3) {
    font-size: .75em;
    -webkit-transform: scale(1) translateX(0) !important;
            transform: scale(1) translateX(0) !important;
  }
  #navigation #burger {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: 20%;
  }
  #navigation #burger .burg {
    width: 19px;
    height: 2.8px;
    background-color: #eeedbe;
    margin-top: 4px;
  }
  .menuHover {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-rows: (1fr)[5] !important;
        grid-template-rows: repeat(5, 1fr) !important;
    gap: 15px;
    padding: 1em !important;
    position: fixed;
    top: 10%;
    border-radius: .1em;
    right: -6%;
    left: 0;
    z-index: -15;
    background-color: #734444;
    -webkit-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  .menuHover li {
    display: inline-block !important;
    padding: .5em;
    border: -5px;
  }
  .menuHover li span {
    display: inline !important;
    font-size: 1.4em !important;
  }
  .menuHover li a {
    font-size: 1.2rem !important;
    display: inline !important;
  }
  .menuHover li:hover {
    font-size: 1em;
    text-align: center;
    -webkit-transform: scale(1) translateX(-5px) !important;
            transform: scale(1) translateX(-5px) !important;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .menuHover li:hover span {
    display: none;
  }
  .menuHover li:hover a {
    display: block;
  }
  .burgHover {
    padding: 5px;
  }
  .burgHover .burg {
    background-color: transparent !important;
  }
  .burgHover .dos::before {
    content: '';
    width: 19px;
    height: 2.8px;
    position: absolute;
    background-color: tomato;
    -webkit-transform: translateX(5px) rotateZ(45deg);
            transform: translateX(5px) rotateZ(45deg);
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-animation: animateBefore .8s ease-in-out .2 alternate;
            animation: animateBefore .8s ease-in-out .2 alternate;
    z-index: 2;
  }
  .burgHover .dos::after {
    content: '';
    width: 19px;
    height: 2.8px;
    position: absolute;
    background-color: tomato;
    -webkit-transform: translateX(5px) rotateZ(-45deg);
            transform: translateX(5px) rotateZ(-45deg);
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-animation: animateAfter .8s ease-in-out .2 alternate;
            animation: animateAfter .8s ease-in-out .2 alternate;
    z-index: 2;
  }
}

@-webkit-keyframes animateBefore {
  0% {
    -webkit-transform: translateX(1px) rotateZ(15deg);
            transform: translateX(1px) rotateZ(15deg);
  }
  25% {
    -webkit-transform: translateX(2px) rotateZ(90deg);
            transform: translateX(2px) rotateZ(90deg);
  }
  50% {
    -webkit-transform: translateX(4px) rotateZ(35deg);
            transform: translateX(4px) rotateZ(35deg);
  }
  75% {
    -webkit-transform: translateX(5px) rotateZ(45deg);
            transform: translateX(5px) rotateZ(45deg);
  }
  100% {
    -webkit-transform: translateX(5px) rotateZ(45deg);
            transform: translateX(5px) rotateZ(45deg);
  }
}

@keyframes animateBefore {
  0% {
    -webkit-transform: translateX(1px) rotateZ(15deg);
            transform: translateX(1px) rotateZ(15deg);
  }
  25% {
    -webkit-transform: translateX(2px) rotateZ(90deg);
            transform: translateX(2px) rotateZ(90deg);
  }
  50% {
    -webkit-transform: translateX(4px) rotateZ(35deg);
            transform: translateX(4px) rotateZ(35deg);
  }
  75% {
    -webkit-transform: translateX(5px) rotateZ(45deg);
            transform: translateX(5px) rotateZ(45deg);
  }
  100% {
    -webkit-transform: translateX(5px) rotateZ(45deg);
            transform: translateX(5px) rotateZ(45deg);
  }
}

@-webkit-keyframes animateAfter {
  0% {
    -webkit-transform: translateX(1px) rotateZ(-15deg);
            transform: translateX(1px) rotateZ(-15deg);
  }
  25% {
    -webkit-transform: translateX(2px) rotateZ(-25deg);
            transform: translateX(2px) rotateZ(-25deg);
  }
  50% {
    -webkit-transform: translateX(4px) rotateZ(-35deg);
            transform: translateX(4px) rotateZ(-35deg);
  }
  75% {
    -webkit-transform: translateX(5px) rotateZ(-35deg);
            transform: translateX(5px) rotateZ(-35deg);
  }
  100% {
    -webkit-transform: translateX(5px) rotateZ(-45deg);
            transform: translateX(5px) rotateZ(-45deg);
  }
}

@keyframes animateAfter {
  0% {
    -webkit-transform: translateX(1px) rotateZ(-15deg);
            transform: translateX(1px) rotateZ(-15deg);
  }
  25% {
    -webkit-transform: translateX(2px) rotateZ(-25deg);
            transform: translateX(2px) rotateZ(-25deg);
  }
  50% {
    -webkit-transform: translateX(4px) rotateZ(-35deg);
            transform: translateX(4px) rotateZ(-35deg);
  }
  75% {
    -webkit-transform: translateX(5px) rotateZ(-35deg);
            transform: translateX(5px) rotateZ(-35deg);
  }
  100% {
    -webkit-transform: translateX(5px) rotateZ(-45deg);
            transform: translateX(5px) rotateZ(-45deg);
  }
}
/*# sourceMappingURL=style.css.map */