@import './variables';
body {
    background-color: $secondary;
}
#navigation {
    display: grid;
    grid-template-columns: 20vw 1fr;
    padding-left: 2vh;
    padding-right: 2vh;
    height: 15%;
    background-color: $accent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 85%;
    a {
        img {
            max-width: 6.5vw;
            max-height: 6.5vw;
            border-radius: 30vw;
            margin: 15px;
        }
    }
    ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 1rem;
        li {
            margin-left: 2rem;
            list-style-type: none;
            display: flex;
            span {
                color: $primary;
                font-size: 1em;
                margin-top: 2px;
            }
            a {
                font-family: Lato;
                font-weight: 1000;
                text-decoration: none;
                margin: auto 8px;
                color: $primary;
                font-size: 1.1em;
            }
            &:hover {
                background-color: $primary;
                padding: .5rem;
                border-radius: 2rem;
                text-align: center;
                span {color: $accent;}
                a {color: $accent;}
            }
            
        }
    }
}

section {
    padding-top: 88px;
}


@import './1044';
@import './930';